asgiref==3.7.2
Django==5.0.2
exceptiongroup==1.2.1
iniconfig==2.0.0
packaging==24.0
pluggy==1.5.0
pytest==8.2.0
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.10.0

# Mysql
mysql-connector==2.2.9
mysqlclient==2.1.1
gunicorn==19.9.0