{% extends '_base.html' %}

{% block contenido %}

        <div class="container">

            <h1 class="mt-5">Tus cuestionarios</h1>

            <div class="text-end">
                <a href="{% url 'cpqol' %}?seccion=1" class="btn btn-outline-primary ">Nuevo cuestionario</a>
            </div>

            <table class="table table-striped mt-5">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Fecha</th>
                        <th>Responde</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cuestionario in cuestionarios %}
                        <tr>
                            <td>{{cuestionario.codigo}}</td>
                            <td>{{cuestionario.fecha}}</td>
                            <td>{{cuestionario.tipo}}</td>
                            <td>{% if cuestionario.confirmado == "SI" %}CONFIRMADO{% else %}<a href="/editar"><i class="bi-pencil"></i></a>{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>





        </div>        

{% endblock %}