{% extends '_base.html' %}

{% block contenido %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
              <a class="navbar-brand " href="#">Salud con Voz</a>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{user.first_name}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- <li><a class="dropdown-item" href="#">Bases de datos</a></li> -->
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><form action="{% url 'logout' %}" method="post">{% csrf_token %}<button type="submit" class="dropdown-item">Cerrar sesión</button></form></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="container">

            <h1 class="mt-5">Tus cuestionarios</h1>

            <div class="text-end">
                <a href="/nuevo" class="btn btn-outline-primary ">Nuevo cuestionario</a>
            </div>

            <table class="table table-striped mt-5">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Edad</th>
                        <th>Resultado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cuestionario in cuestionarios %}
                        <tr>
                            <td>{{cuestionario.nombre}}</td>
                            <td>{{cuestionario.apellido}}</td>
                            <td>{{cuestionario.dni}}</td>
                            <td>{{cuestionario.edad}}</td>
                            <td>{{cuestionario.resultado}}</td>
                            <td><a href="/editar"><i class="bi-pencil"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>





        </div>        

{% endblock %}