{% extends "base_login.html" %}

{% block content %}
  <h2>Listado de Solicitudes</h2>
  <table class="table table-striped">
    <thead>
      <tr>        
        <th>Responsable Principal</th>
        <th>Email Principal</th>
        <th>Institución Principal</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for solicitud in pcatia %}
        <tr>         
          <td>{{ solicitud.nombres_principal }} {{ solicitud.apellidos_principal }}</td>
          <td>{{ solicitud.email_principal }}</td>
          <td>{{ solicitud.institucion_principal }}</td>
          <td>
            <a href="{% url 'pcatia:solicitud_detail' solicitud.id %}">
              <button>Ver</button>
            </a>            
            <a href="{% url 'pcatia:solicitud_delete' solicitud.id %}">
              <button>Borrar</button>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
