{% extends "base.html" %}

{% block content %}
<div class="d-flex align-items-center justify-content-center min-vh-100 text-left">
    <div class="card mx-auto" style="width: 90%;">
        <div class="card-body">
            <!-- Encabezado con los logos -->
            {% include 'logos.html' %}
           
    <!-- Contenido del texto -->
             
            <div class="text-start">
<div class="container mt-4">
    <h1 class="mb-4">¡Solicitud enviada con éxito!</h1>
    <p>Gracias por enviar tu solicitud. Nos pondremos en contacto contigo pronto.</p>
    <a href="{% url 'principal' %}" class="btn btn-primary mt-3">Volver al Inicio</a>
</div>

</div>
</div>
</div>
</div>
{% endblock %}
