{% extends '_base.html' %}  
{% load static %}

{% block contenido %}


      <div class="d-flex align-items-center justify-content-center min-vh-100">
        <div class="card w-50">
          <div class="card-body">
            <div class="row">
                <div class="col-md-8 px-3">
                  <div class="text-center">
                    <div class="d-flex justify-content-between px-2">
                        <img src="{% static 'img/logo-ciecs.png' %}" height="80" alt="Logo de Salud con Voz">
                        <img src="{% static 'img/logo-scv.png' %}" height="80" alt="Logo de Salud con Voz">
                    </div>
                  </div>
                  <form method="POST">{% csrf_token %}
                    <div class="form-group mt-3">
                      <label for="user">Usuario</label>
                      <input type="text" class="form-control" name="username" id="user" aria-describedby="emailHelp" placeholder="Usuario">
                    </div>
                    <div class="form-group mt-3">
                      <label for="password">Contraseña</label>
                      <input type="password" class="form-control" name="password" id="password" placeholder="****">
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mt-5">Entrar</button>
                  </form>            
                </div>
                <div class="col-md-4 px-3 d-flex align-items-center text-end">
                  <div class="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p>Assumenda vitae molestias dolor quidem voluptatem quisquam maiores nulla et libero eligendi, fugit accusamus animi vel? Voluptatem obcaecati rerum provident quod officia.</p>
                    <a href="{% url 'registro' %}" class="btn b-0 btn-outline-primary">Registrarse</a>
                  </div>
                <div>
            </div>
          </div>
        </div>

      </div>

{% endblock %}