{% extends '_base.html' %}

{% block contenido %}
<div class="container">
            <h1 class="mt-5 mb-3">Encuesta {% if form %}{% if seccion.numero > 0 %} - <span class="badge bg-success">Paso: {{seccion.numero}} / {{total_secciones}}</span>{% endif %}{% endif %}</h1>
            <h2 class="mb-1"> {{seccion.nombre}}</h2>
            <h5 class="mb-5"> {{seccion.subtitulo}}</h5>
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">      
                    {% if seccion.numero == 0 %}
                        {% include 'core/tyc.html' %}
                    {% elif seccion.numero == 12 %}
                        {% include 'core/resultados.html' %}
                    {% endif %}      
                    
                    {% if form %}
                        <form method="post" >{% csrf_token %}
                            
                            {% include 'widgets/inputs.html' %}
                
                            <div class="d-flex justify-content-between my-5">
                                {% if seccion.anterior %}<a href="{% url 'cpqol' %}?seccion={{seccion.anterior}}&codigo={{cpqol.codigo}}" class="btn btn-secondary">Anterior</a>{% else %}<div></div>{% endif %}
                                {% if cpqol.confirmado %}
                                    <a href="{% url 'cpqol' %}?seccion={{seccion.siguiente}}&codigo={{cpqol.codigo}}" class="btn btn-primary">Siguiente</a>
                                {% else %}
                                    <button type="submit" class="btn btn-primary">{% if seccion.numero == 11 %}Enviar{% else %}Siguiente{% endif %}</button>
                                {% endif %}
                            </div>
                        </form>
                    {% endif %}

                </div>
            </div>            
</div>
{% if cpqol.confirmado %}
    <script>

    // Selecciona todos los campos de entrada, áreas de texto y menús desplegables
    const fields = document.querySelectorAll('input, textarea, select');

    // Itera sobre cada campo y lo deshabilita
    fields.forEach(field => {
        field.disabled = true;
    });

    </script>
{% endif %}
{% endblock %}